#page-header {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr, 1fr;
    margin-top: 5vh;
    margin-left: 27.75vw;
    width: auto;
    height: auto;
}

#title-text-container {
    margin: auto;
    width: auto;
    height: auto;
}

#title-text {
    margin: auto;
    text-align: center;
    font-family: $title-font;
    color: $text-color;
    font-size: 7.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-shadow: -0.25rem -0.25rem 0 $primary, 0.25rem -0.25rem 0 $primary, -0.25rem 0.25rem 0 $primary, 0.25rem 0.25rem 0 $primary;
}

#subtitle-text-container {
    margin: auto;
    width: auto;
    height: auto;
}

#subtitle-text {
    margin: auto;
    text-align: center;
    font-family: $text-font;
    color: $text-color;
    font-size: 2rem;
}