#exit-quiz-button {
    position: absolute;
    left: 45%;
    top: 4.25%;
    width: 10%;
    height: 7.5%;
    background: $primary;
    border-radius: 1rem;
    border-top: 0.25rem outset $tertiary;
    border-left: 0.25rem outset $tertiary;
    border-bottom: 0.25rem inset #363e44;
    border-right: 0.25rem inset #363e44;
    outline: none;
    background: linear-gradient(to right, #29303b 50%, $primary 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    transform: scale(1);
    animation: button-pulse 2s infinite;
}

#exit-quiz-button:hover {
    cursor: pointer;
    background-position: left bottom;
}

#exit-quiz-button-text {
    margin: auto;
    margin-left: 1%;
    margin-top: 0.5%;
    font-family: $text-font;
    color: $text-color;
    font-size: 2rem;
}

#quiz {
    position: absolute;
    display: grid;
    grid-template-columns: 71% 29%;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "q q""a i";
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
}

#question-container {
    grid-area: q;
}

#question-text-container {
    position: absolute;
    left: 2.5%;
    top: 4.25%;
    width: 95%;
    height: 25%;
    background: $primary;
    border-radius: 1rem;
    border-top: 0.25rem outset $tertiary;
    border-left: 0.25rem outset $tertiary;
    border-bottom: 0.25rem inset #363e44;
    border-right: 0.25rem inset #363e44;
    outline: none;
}

#question-text {
    margin: auto;
    margin-left: 1%;
    margin-top: 0.5%;
    font-family: $text-font;
    color: $text-color;
    font-size: 2rem;
    text-align: center;
}

#answer-container {
    grid-area: a;
}

#answer-buttons {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    left: 2.5%;
    bottom: 4.25%;
    width: 65%;
    height: 58%;
    background: $primary;
    border-radius: 1rem;
    border-top: 0.25rem outset $tertiary;
    border-left: 0.25rem outset $tertiary;
    border-bottom: 0.25rem inset #363e44;
    border-right: 0.25rem inset #363e44;
    outline: none;
}

.answer-button-container {
    display: flex;
    justify-content: center;
}

.answer-button {
    position: relative;
    top: 15%;
    width: 97%;
    height: 75%;
    background: $secondary;
    border-radius: 2rem;
    border-top: 0.5vh outset $tertiary;
    border-left: 0.25vw outset $tertiary;
    border-bottom: 0.5vh inset #363e44;
    border-right: 0.25vw inset #363e44;
    outline: none;
    transition: 0.4s;
}

.answer-button:hover {
    background-color: $tertiary;
    cursor: pointer;
}

.answer-button-text {
    margin: auto;
    margin-left: 1%;
    margin-top: 0.5%;
    font-family: $text-font;
    color: $text-color;
    font-size: 2rem;
    text-align: center;
}

#info {
    grid-area: i;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 4%;
    width: 91.5%;
    height: 87%;
    background: $primary;
    border-radius: 1rem;
    border-top: 0.25rem outset $tertiary;
    border-left: 0.25rem outset $tertiary;
    border-bottom: 0.25rem inset #363e44;
    border-right: 0.25rem inset #363e44;
    outline: none;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-text-container {
    width: auto;
    height: auto;
}

.info-text {
    margin: auto;
    margin: 15%;
    font-family: $text-font;
    color: $text-color;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}