@import "_variables.scss";
@import "_header.scss";
@import "_navigation.scss";
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#particles-js {
    width: 100vw;
    height: 100vh;
}