#page-header {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2fr, 1fr;
      grid-template-rows: 2fr, 1fr;
  margin-top: 5vh;
  left: 27.75vw;
  width: auto;
  height: auto;
}

#title-text-container {
  margin: auto;
  width: auto;
  height: auto;
}

#title-text {
  margin: auto;
  text-align: center;
  font-family: Staatliches, cursive;
  color: #9db1c0;
  font-size: 7.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-shadow: -0.25rem -0.25rem 0 #343d4b, 0.25rem -0.25rem 0 #343d4b, -0.25rem 0.25rem 0 #343d4b, 0.25rem 0.25rem 0 #343d4b;
  cursor: pointer;
}

#subtitle-text-container {
  margin: auto;
  width: auto;
  height: auto;
}

#subtitle-text {
  margin: auto;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  color: #9db1c0;
  font-size: 2rem;
}

#navigation {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  grid-gap: 10vh;
  margin-top: 25%;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
  height: auto;
}

.button-container {
  width: 100%;
  height: 100%;
}

.button-linker {
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  height: 7.5vh;
  border-radius: 2rem;
  border-top: 0.25rem outset #455561;
  border-left: 0.25rem outset #455561;
  border-bottom: 0.25rem inset #363e44;
  border-right: 0.25rem inset #363e44;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #29303b), color-stop(50%, #343d4b));
  background: linear-gradient(to right, #29303b 50%, #343d4b 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: button-pulse 2s infinite;
          animation: button-pulse 2s infinite;
}

.button:hover {
  cursor: pointer;
  background-position: left bottom;
}

@-webkit-keyframes button-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes button-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.button-text {
  margin: auto;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  color: #9db1c0;
  font-size: 2rem;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

#particles-js-quiz {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100vh;
}
/*# sourceMappingURL=index.css.map */