@import "_variables.scss";
@import "_header.scss";
@import "_navigation.scss";
@import "_quiz.scss";
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

#quiz-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100vh;
}