@import "_variables.scss";
@import "_header.scss";

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #293e5a;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}